[Unit]
Description=Listen Sensible Data Service
After=network.target listen_sensible_data.socket
Requires=listen_data.socket

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/controlSystem/services/listen_sensible_data/listen_sensible_data.py
TimeoutStopSec=5

[Install]
WantedBy=default.target