[Unit]
Description=Flask Service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/controlSystem/services/flask_main/flask_main.py

[Install]
WantedBy=multi-user.target