
body{
    background: #ffffff;
}

.navbar{
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
}

.gradient-bg-theme {
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #bfcfd3, #7bc4c0, #59a9bb, #24828a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #bfcfd3, #7bc4c0, #59a9bb, #24828a);
}

