{% extends 'base.html' %}


{% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/home.css") }}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
          crossorigin=""/>
{% endblock %}


{% block body %}

    <div class="mt-3 mb-4">
        <div class="col-lg mt-4 mt-lg-0">
            <div class="row" id="map" style="height:85vh">


            </div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
            crossorigin=""></script>
    <script src="{{ url_for('static', filename="js/home.js") }}"></script>

{% endblock %}